<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgfy.mybatis.bussApi.domain.mapper.TestGenMapper">
  <resultMap id="BaseResultMap" type="com.cgfy.mybatis.bussApi.domain.model.TestGen">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="home_add_test" jdbcType="VARCHAR" property="homeAddTest" />
  </resultMap>
</mapper>