<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgfy.user.bussApi.domain.mapper.StaffInfoMapper">
  <resultMap id="BaseResultMap" type="com.cgfy.user.bussApi.domain.model.StaffInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="is_old" jdbcType="VARCHAR" property="isOld" />
    <result column="old_id" jdbcType="VARCHAR" property="oldId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="used_name" jdbcType="VARCHAR" property="usedName" />
    <result column="head_path" jdbcType="VARCHAR" property="headPath" />
    <result column="duty_id" jdbcType="VARCHAR" property="dutyId" />
    <result column="duty_name" jdbcType="VARCHAR" property="dutyName" />
    <result column="duty_level" jdbcType="VARCHAR" property="dutyLevel" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="folk" jdbcType="VARCHAR" property="folk" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="birthday_place" jdbcType="VARCHAR" property="birthdayPlace" />
    <result column="census_type" jdbcType="VARCHAR" property="censusType" />
    <result column="census_place" jdbcType="VARCHAR" property="censusPlace" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="staff_type" jdbcType="VARCHAR" property="staffType" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="retire_date" jdbcType="VARCHAR" property="retireDate" />
    <result column="health" jdbcType="VARCHAR" property="health" />
    <result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
    <result column="political_date" jdbcType="VARCHAR" property="politicalDate" />
    <result column="marriage" jdbcType="VARCHAR" property="marriage" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="high_edu" jdbcType="VARCHAR" property="highEdu" />
    <result column="high_major" jdbcType="VARCHAR" property="highMajor" />
    <result column="high_degree" jdbcType="VARCHAR" property="highDegree" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="work_date" jdbcType="VARCHAR" property="workDate" />
    <result column="work_age" jdbcType="VARCHAR" property="workAge" />
    <result column="employed_date" jdbcType="VARCHAR" property="employedDate" />
    <result column="employed_age" jdbcType="VARCHAR" property="employedAge" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="job_date" jdbcType="VARCHAR" property="jobDate" />
    <result column="job_limit" jdbcType="VARCHAR" property="jobLimit" />
    <result column="rank_date" jdbcType="VARCHAR" property="rankDate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="registered_place" jdbcType="VARCHAR" property="registeredPlace" />
    <result column="emerg_name" jdbcType="VARCHAR" property="emergName" />
    <result column="emerg_relate" jdbcType="VARCHAR" property="emergRelate" />
    <result column="emerg_tel" jdbcType="VARCHAR" property="emergTel" />
    <result column="emerg_address" jdbcType="VARCHAR" property="emergAddress" />
    <result column="fill_id" jdbcType="VARCHAR" property="fillId" />
    <result column="fill_name" jdbcType="VARCHAR" property="fillName" />
    <result column="fill_date" jdbcType="TIMESTAMP" property="fillDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="is_worker" jdbcType="VARCHAR" property="isWorker" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="organ_id" jdbcType="VARCHAR" property="organId" />
    <result column="organ_name" jdbcType="VARCHAR" property="organName" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="committed" jdbcType="TIMESTAMP" property="committed" />
    <result column="done" jdbcType="TIMESTAMP" property="done" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="last_task" jdbcType="VARCHAR" property="lastTask" />
    <result column="branchline_to" jdbcType="VARCHAR" property="branchlineTo" />
    <result column="is_edit" jdbcType="VARCHAR" property="isEdit" />
  </resultMap>
</mapper>